ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
display: inline;
margin: 0;
padding: 5px;
}

.fa{
    font-size: 25pt;
    color: white;
    padding: 5px;
}
.fa-instagram:hover{
    color: #bc2a8d;
}

.fa-linkedin:hover{
    color: #04009a;
}

.fa-github:hover{
    color: #687980;
}